.footer {
  background-color: #343a3f;
  font-family: "Roboto Condensed";
  height: 35vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #b5b6b7;
  padding-top: 2rem;
  margin-top: -10vh;

  a {
    color: #1387da;
  }

  &__nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 2rem;
  }

  &__nav a:nth-child(1) {
    text-decoration: none;
    color: #b5b6b7;
  }

  &__heading {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  &__text a {
    color: #1387da;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
