.story {
  display: flex;
  flex-direction: row;
  padding: 3rem 6rem 2rem 6rem;
  font-family: "Roboto Condensed";
  font-weight: 100;

  @media (max-width: 1008px) {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 486px) {
    padding: 3rem 2rem 2rem;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;

    &__heading {
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: 100;
      margin-bottom: 4rem;
      text-align: center;
    }

    &__paragraph {
      text-align: center;
      margin-bottom: 1rem;
      word-spacing: 0.2rem;
    }
  }
}

.story__img {
  height: 70vh;
  max-width: 384px;

  @media (max-width: 1008px) {
    max-width: 384px;
    display: block;
    margin: auto;
  }
}
